name: Pull Request

on:
  pull_request:
    branches:
      - master

env:
  GOLANG_VERSION: 1.25
  GOLANG_CI_LINT_VERSION: v2.8.0

jobs:
  build:
    runs-on: ubuntu-latest 
    name: Build
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"    
    steps:
    - name: Check out code
      uses: actions/checkout@v5
      with:
        ref: ${{github.event.pull_request.head.sha}}

    - name: Set up Go
      id: go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GOLANG_VERSION }}

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: ${{ env.GOLANG_CI_LINT_VERSION }}
        only-new-issues: false
        args: --timeout 10m